/* Fjalla One */
@import url(https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lexend:wght@100..900&display=swap);
/* Oswald */
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
/* Lexend */
@import url(https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lexend:wght@100..900&display=swap);

:root{
    --primary-color: #0d6efd;
    --none: #2a4c80;
    --Animation: data-aos="fade-right";
}

main {
    padding-right: 1rem;
}

.main {
    transition: margin-left 0.3s;
    overflow-x: hidden !important;
}

body {
    overflow-x: hidden !important;
    background: #f1f3f4;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
}

.page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-image: url('low quality.png');
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.08;
    pointer-events: none;
    background-size: 40% auto;
}

@media (max-width: 576px) {
    .page-background {
        background-size: 100%;
    }
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

/* 🌾 Animated Grain Effect */
.grain {
  position: relative;
  overflow: hidden;
}
.grain::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../Assets/grain2.jpg");
  background-size: 100%;
  opacity: 0.5;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 1;
  animation: grainShift 10s linear infinite;
}

@keyframes grainShift {
 0%   { background-position: 0% 0%; }
  25%  { background-position: 25% 50%; }
  50%  { background-position: 50% 75%; }
  75%  { background-position: 75% 50%; }
  100% { background-position: 100% 0%; }
}